* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alata", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  position: relative;
  width: 100%;
  height: 700px;
  padding-bottom: 50px;
  overflow: hidden;
}
.background {
  max-width: 1280px;
  background-image: url("img/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 550px;
}
.nav-link {
  position: relative;
  width: 100%;
  height: 150px;
}
.logo-tow {
  display: none;
}
.nav-link .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
  max-width: 1280px;
  height: 100%;
}
.nav-container .link {
  width: 400px;
}
.nav-container .link ul {
  display: flex;
  justify-content: space-between;
}

.nav-container .link ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
  transition: 0.3s linear;
  position: relative;
}
.nav-container .link ul li a::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 4px;
  opacity: 0;
  background-color: #fff;
  transition-property: opacity, left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 2px;
}
.nav-container .link ul li a:hover::before {
  opacity: 1;
  left: 10%;
  right: 10%;
}
.close-humberger {
  display: none;
}
.humberger {
  display: none;
}
.content-header {
  width: 100%;
  position: absolute;
  padding: 20px 50px;
  left: 100px;
  top: 200px;
}
.content-header .child-content {
  width: 480px;
  height: 200px;
  padding: 20px;
  border: 5px solid #fff;
  font-size: 45px;
  color: #fff;
  line-height: 1.1;
  letter-spacing: 5px;
  font-weight: lighter;
  font-family: "Josefin Sans", sans-serif;
}
.vr {
  width: 100%;
  padding-bottom: 50px;
  height: 600px;
  position: relative;
}
.vr .caontainer-vr {
  padding: 0 50px;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.vr .caontainer-vr .image-vr {
  width: 600px;
  position: absolute;
  left: 150px;
}
.vr .caontainer-vr .image-vr img {
  max-width: 100%;
}
.vr .caontainer-vr .content-vr {
  width: 550px;
  position: absolute;
  right: 100px;
  bottom: 80px;
  background-color: #fff;
  height: 300px;
  font-family: "Josefin Sans", sans-serif;
}
.vr .caontainer-vr .content-vr .child-vr-content {
  padding: 50px;
}
.vr .caontainer-vr .content-vr .child-vr-content h1 {
  font-size: 2.9rem;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.vr .caontainer-vr .content-vr .child-vr-content p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Alata", sans-serif;
  color: rgb(65, 65, 65);
}
.creation {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 20px 0;
}
.creation .container {
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}
.creation .container .title h1 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 2.5rem;
  color: rgb(34, 33, 33);
}
.creation .container .see-all a,
.see-all2 a {
  padding: 5px 30px;
  border: 2px solid rgb(34, 33, 33);
  color: rgb(34, 33, 33);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
}
.creation-content {
  padding-bottom: 100px;
}
.creation-content .container-creation {
  width: 100%;
  padding: 0 150px;
  margin: 20px auto;
}
.creation-content .container-creation .rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.creation-content .container-creation .rows .IM {
  position: relative;
}
.creation-content .container-creation .rows .IM:not(:last-child) {
  margin-right: 25px;
}
.creation-content .container-creation .rows .IM .mobile {
  display: none;
}
.creation-content .container-creation .rows .IM IMG {
  width: 100%;
}
.creation-content .container-creation .rows .IM p {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 150px;
  font-size: 1.5rem;
  line-height: 0.9;
  color: rgb(248, 245, 245);
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.5px;
  font-weight: normal;
}
footer {
  position: relative;
  height: 160px;
  background-color: #000;
  width: 100%;
}
.conatiner-footer {
  width: 100%;
  padding: 40px 150px;
}
.tilte-social {
  display: flex;
  justify-content: space-between;
}
.socail-media ul {
  display: flex;
}
.socail-media ul li:not(:last-child) {
  margin-right: 15px;
}
.auter-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.auter-link .link ul {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.auter-link .link ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
}
.auter-link .copyraith {
  color: #fff;
  font-size: 15px;
}
@media screen and (max-width: 950px) {
  .nav-link .nav-container {
    padding: 0 100px;
  }
  .nav-container .link {
    position: fixed;
    background-color: rgba(27, 27, 27);
    width: 0%;
    right: 0px;

    height: 100vh;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
  }
  .nav-container .link.responsive {
    width: 100%;
  }
  .nav-container .link ul {
    padding: 50px;
    display: block;
  }
  .nav-container .link ul li {
    margin-bottom: 10px;
  }
  .nav-container .link ul li a {
    font-size: 2.5rem;
  }
  .nav-container .link ul li a:hover::before {
    left: 0;
    right: 0;
  }
  .title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .logo-tow {
    display: block;
  }
  .close-humberger {
    display: flex;
    right: 50px;
    top: 50px;

    top: 50px;
    right: 0;
  }
  .humberger {
    display: block;
  }
  .vr {
    height: 750px;
  }
  .caontainer-vr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .vr .caontainer-vr {
    padding: 0 30px;
  }
  .vr .caontainer-vr .image-vr {
    position: initial;
    width: 500px;
  }
  .vr .caontainer-vr .content-vr {
    position: initial;
  }
  .creation .container {
    padding: 0 50px;
  }
  .creation-content .container-creation {
    padding: 0 50px;
  }
  .creation-content .container-creation .rows .IM p {
    font-size: 1rem;
    width: 100px;
    font-weight: bold;
  }
  footer {
    height: auto;
  }
  .conatiner-footer {
    padding: 40px 50px 0;
  }
  .auter-link {
    flex-direction: column;
    text-align: center;
  }
  .auter-link .link ul {
    width: 100%;
    margin-bottom: 15px;
  }
  .auter-link .copyraith {
    padding: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .nav-link .nav-container {
    padding: 0 20px;
  }
  .background {
    width: 100%;
    height: 650px;
  }
  .content-header {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    top: 250px;
  }
  .content-header .child-content {
    width: 100%;
    left: 20px;
    font-size: 2rem;
  }
  .vr {
    height: 650px;
  }
  .vr .caontainer-vr {
    padding: 0 20px;
  }
  .vr .caontainer-vr .image-vr {
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    width: auto;
  }
  .vr .caontainer-vr .content-vr {
    width: auto;
  }
  .vr .caontainer-vr .content-vr .child-vr-content {
    padding: 30px 10px;
  }
  .vr .caontainer-vr .content-vr .child-vr-content h1 {
    font-size: 2.2rem;
  }
  .creation .container .title {
    width: 100%;
    text-align: center;
  }
  .creation .container .title h1 {
    font-size: 2.2rem;
  }
  .see-all {
    display: none;
  }
  .creation-content .container-creation {
    padding: 0 20px;
  }
  .creation-content .container-creation .rows {
    flex-direction: column;
  }
  .Main .creation-content .container-creation .rows .IM {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .creation-content .container-creation .rows .IM .desketop {
    display: none;
  }
  .creation-content .container-creation .rows .IM .mobile {
    display: block;
  }
  .conatiner-footer {
    padding: 30px 20px;
  }
  .tilte-social {
    flex-direction: column;
    align-items: center;
  }
  footer .logo-nav {
    margin-bottom: 20px;
  }
  .auter-link .link ul {
    flex-direction: column;
  }
  .auter-link .link ul li {
    margin-bottom: 10px;
  }
  .see-all2 {
    text-align: center;
  }
} ;
